#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bigHeader {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.orderDiv {
    border: 1px solid black;
    width: 500px;
    height: 400px;
}

.headers {
    font-size: 16px;
    padding: 5px;
}